*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    background: #222;
    color: #fff;
}

.card{
    width: 90%;
    max-width: 450px;
    margin: 100px auto;
    background: #333;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle) ,transparent 70% , red,blue);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

@keyframes spin{
    from{--angle:0deg;}
    to{--angle:360deg}
}

.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
.search{
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation-name: identifier;
    animation-duration: 1s;
}

@keyframes identifier {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search input{
    position: relative;
    border: 1px solid rgba(255,255,255,0.25);
    background: #333;
    outline: none;
    color: #fff;
    height: 45px;
    border-radius: 13px 13px 0 13px;
    padding: 15px 35px;
    margin-left: 30px;
    flex: 1;
    margin-right: 20px;
}


.search span{
    font-size: 0.85em;
    position: absolute;
    left: 80px;
    padding: 5px;
    pointer-events: none;
    text-transform: uppercase;
    color: rgba(255,255,255,0.25);
    transition: .5s ease-in-out;
}


.search input:valid ~ span,.search input:focus ~ span{
    color: #00dfc4;
    transform: translateY(-25px);
    font-size: 0.7em;
    background: #333;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}

.search button{
    background: transparent;
    border: none;
    outline: none;
    margin-right: 30px;
    padding: 5px 15px;
    border-radius: 50%;
    cursor: pointer;   
    transition: 0.3s; 
}

.search button:hover{
    border: 1px solid #fff;
    transform: scale(0.9);
}

.search button img{
    width: 20px;
    height: 40px;
}

.weather{
    display: none;
}

.weather #weaIC{
    width: 130px;
    margin-top: 20px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}

.weather h2{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.col img{
    margin-right: 10px;
    width: 35px;
}

.error p{
    display: none;
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
}